<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>


<p>Mon logo</p>
<%= image_tag "logo.png" %>


<p>Site du Wagon</p>
<a href="http://lewagon.com" class="link-red">
Le wagon
</a>


<img src="http://placehold.it/80X80" alt="">
